html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
}
main{
    border:2px solid #e1ed2c;
}
#side-menu{
    top: 50%;
}
.logo-img {
  width: 240px;
}
#bar img{
    display: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
.color-main {
  color: #056839;
}
img {
  width: 100%;
}
.logo {
  height: 76px;
}
.top-border {
  border-top: 1px dotted #056839;
  /* border-left: 1px dotted #056839; */
  padding-top: 26px;
}
.border-center {
  border-right: 1px dotted #056839;
  border-left: 1px dotted #056839;
}
.banner {
  background: #e0e0e0;
  width: 100vw;
  height: 600px;
  background-size: cover !important;
}

.banner-img img {
  height: 600px;
}

.swiper-slide {
  background: #e6e5e5;
}
.sub {
  position: absolute;
  background: white;
  padding: 20px;
  padding-top: 10px;
  display: none;
  box-shadow: 0px 1px 3px #02020280;
  border-radius: 4px;
}
.sub::before {
  content: "";
  height: 100%;
  width: 1px;
  background: red;
}
.sub li {
  position: relative;
  line-height: 30px;
  border-bottom: 1px dotted #056839;
}
.m-l-200 {
  margin-left: 200px !important;
}
.sub li:last-child {
  border: none;
}
.menu li a {
  font-weight: 600;
  font-size: 16px;
  color: #585454;
}
.lang {
  padding-top: 0 !important;
  margin-top: 5px;
  position: relative;
  display: block;
}
.sh-r{
  margin-top: 0;
    margin-left: 0;
    font-size: 28px;
    z-index: 20;
    position: relative;
    /* position: absolute !important; */
   
    bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
@keyframes myfirst {
  0%   {fill: #0096eb; left: -50px;}
  100%  {fill: #e5b800; left: -60px; }

}
.arrow{
  /* width: 50px;
  height: 50px; */
  animation: myfirst 2s infinite;
  animation-direction: alternate;
  position: absolute;
  left: -68px;
  top: 50%;
}
.sh-l{
  margin-top: 41%;
    margin-left: -25%;
    /* width: 517px; */
    font-size: 39px;
    z-index: 20;
    position: relative;
    position: absolute !important;
    width: auto !important;
}
.m--100{
  margin-top: -100px;
}
/* h4 {
  color: white;
  background: #968a81;
  width: 218px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
  margin-top: -21px;
} */
.bottom-content img {
  margin-top: -50%;
}
.border-main {
  border-bottom: 3px solid #d5c1d2;
}
#section-2 {
  padding-top: 150px;
}
#section-2 h5 {
  margin-top: 50%;
  margin-right: -50%;
  width: 517px;
  font-size: 39px;
}
#section-3 {
  overflow: auto;
  margin-bottom: 200px !important;
  margin-top: 200px !important;
}
#section-3 h1 {
  margin-bottom: -50px !important;
}
.spc{
    width: 266px;
    background: red;
    background-color: #cfe3e1;
    border-color: #cfe3e1;
    padding: 10px;
    border-radius: 25px;
    font-weight: 300 !important;
    color: black !important;
    font-size: 14px;
    text-align: center;
    margin-top: 90px;
}
.spc a{
    color: black;
}
.swiper-slide {
}
/* transition */
.tr-1 {
  transition: 1s;
}
.tr-05 {
  transition: 0.5s;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #056839;
}
.bkg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10% 0;
}
.comp{
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: #0000008f;
    padding: 15px;
    margin-left: 20px;
}

.add{
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.table{
  width: 100%;
  overflow-x: auto;
}
th{
  white-space: nowrap;
}
form label{
 
  padding-bottom: 6px;
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 600;
  color: #727171;
}
.form-control:focus{
  box-shadow:none;
}
.form-control{
  border: none !important;
  border-bottom: 2px dashed grey !important;
}
.basic{
  padding-top: 60px;
  padding-bottom: 10px;
  color: #a19776
}

#load{
    position: relative;
    z-index: 200;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff1a;
}
.border-main-top {
  border-top: 3px dashed #d5c1d2;
}
.load{
  display: block !important;
  opacity: 1 !important;
}
form{
  width: 90vw;
  margin: auto;
  margin-top: 30px;
  background: white;
  padding: 37px;
  overflow: auto;
  height: 90%;
}
.input-group{
  display: block !important;
}
.overflow_hide{
  overflow: hidden;
}
/* z-index */
.z-index-10 {
  z-index: 10;
}
.z-index-15 {
  z-index: 15;
}
.z-index-20 {
  z-index: 20;
}

/* martgin */
.mt--15 {
  margin-top: 15%;
}
/* ------------MASK-----------*/

.bg-r {
  position: absolute;
  height: 100%;
  width: 25%;
  right: -36px;
  bottom: 0;
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, #000000)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    #000000 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    #000000 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    #e0e0e0 100%
  );
}

.bg-l {
  position: absolute;
  height: 100%;
  width: 25%;
  left: -36px;
  bottom: 0;
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, #000000)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    #000000 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    #000000 100%
  );
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #e0e0e0 100%);
}
#section-1 {
  margin-top: 55px !important;
}
.bottom-0{
  bottom: 0;
}
.section-bg {
  min-height: 70vh;
  background-size: cover;
}
.c-h3 {
  padding-top: 25%;
  margin-left: -120px;
  color: #4b4b4b;
}
.scroll-img{
    position: absolute;
    width: 206px;
    left: 200px;
    opacity: .2;
}
.scroll-img-r{
    position: absolute;
    width: 206px;
    right: 20px;
    opacity: .2;
}
/* ----COL----------------- */

.l-h-76 {
  line-height: 76px;
}

.max-12cols-g {
  max-width: 1632px;
}

.max-12cols {
  max-width: 1592px;
}

.max-10cols-g {
  max-width: 1360px;
}

.max-8cols-g {
  max-width: 1088px;
}

.max-6cols-g {
  max-width: 816px;
}

.max-12col-f {
  max-width: 1440px;
}

/* ----COL----------------- */

.maxw-210 {
  max-width: 210px;
}

.maxw-230 {
  max-width: 230px;
}

.maxw-240 {
  max-width: 240px;
}

.maxw-270 {
  max-width: 270px;
}

.maxw-320 {
  max-width: 320px;
}

.maxw-340 {
  max-width: 340px;
}

.maxw-365 {
  max-width: 365px;
}

.maxw-370 {
  max-width: 370px;
}

.maxw-390 {
  max-width: 390px;
}

.maxw-410 {
  max-width: 410px;
}

.maxw-430,
figcaption {
  max-width: 430px;
}

.maxw-435 {
  max-width: 435px;
}

.maxw-470 {
  max-width: 470px;
}

.maxw-477 {
  max-width: 477px;
}

.maxw-480 {
  max-width: 480px;
}

.maxw-500 {
  max-width: 500px;
}

.maxw-520 {
  max-width: 520px;
}

.maxw-555 {
  max-width: 555px;
}

.maxw-570 {
  max-width: 570px;
}

.maxw-600 {
  max-width: 600px;
}

.maxw-630 {
  max-width: 630px;
}

.maxw-690 {
  max-width: 690px;
}

.maxw-700 {
  max-width: 700px;
}

.maxw-725 {
  max-width: 725px;
}

.maxw-770 {
  max-width: 770px;
}

.maxw-777 {
  max-width: 777px;
}

.maxw-1076 {
  max-width: 1076px;
}

.maxw-1200 {
  max-width: 1200px;
}

.maxw-1310 {
  max-width: 1310px;
}

.maxw-1400 {
  max-width: 1400px;
}

.mwv-90 {
  max-width: 90vw;
}
.mwv-80 {
  max-width: 80vw;
}
.mwv-70 {
  max-width: 70vw;
}
.mwv-60 {
  max-width: 60vw;
}
.mwv-50 {
  max-width: 5vw;
}

/* FONT SIZE */

.fs-100 {
  font-size: 100px;
}

.fs-85 {
  font-size: 85px;
}

.fs-65 {
  font-size: 65px;
}

.fs-60 {
  font-size: 60px;
}

.fs-50 {
  font-size: 50px;
}

.fs-40 {
  font-size: 40px;
}

.fs-30 {
  font-size: 30px;
}

.fs-25 {
  font-size: 25px;
}

.fs-20 {
  font-size: 20px;
}

.fs-15 {
  font-size: 15px;
}

.fs-13 {
  font-size: 13px;
}

@media (max-width: 575.98px) {

  #header {
    overflow: auto;
  }
  #bar img{
      display: block;
      width: 28px;
      position: absolute;
      top: 10px;
      right: 10px;
  }
  .order-2-mine{
      order: 2;
  }
  .menu {
      display: none;
  }
  .c-h3{
    padding-top: 8%;
    margin-left: 45px !important;
  }
  ul{
      padding: 0;
  }
  #section-1{
      margin-top: 0 !important;
      padding-top: 5px !important;
  }
  #section-2{
      padding-top: 0px ;
      padding-left: 20% !important;
      margin-bottom: 100px !important;
      padding-top: 60px !important;
  }
  #section-2 h5{
    font-size: 32px !important;
    width: 83%;
    margin-right: 10px;
    margin-top: -53px;
  }
  #section-3{
      margin-top: 20px !important;
      margin-bottom: 20px !important;
  }
  .m-wv-100 {
    width: 100vw !important;
  }

  .m-pt-50 {
    padding-top: 50px !important;
  }
  .m-pb-50 {
    padding-bottom: 50px !important;
  }
  .m-fs-13 {
    font-size: 13px !important;
  }
  .m-fs-15 {
    font-size: 15px !important;
  }
  .m-fs-20 {
    font-size: 20px !important;
  }
  .m-fs-25 {
    font-size: 25px !important;
  }
  .m-fs-30 {
    font-size: 30px !important;
  }
  .m-fs-35 {
    font-size: 35px !important;
  }
  .m-fs-40 {
    font-size: 40px !important;
  }
  .m-fs-45 {
    font-size: 45px !important;
  }
  .m-fs-50 {
    font-size: 50px !important;
  }
  .m-fs-55 {
    font-size: 55px !important;
  }
  .m-ml-0{
      margin-left: 0 !important;
  }
  .min-w-97{
      max-width: 97vw;
  }
}
